.card{
    background-color: #fff;
    box-shadow: 1px 1px 5px 0 #00000045;
    border-radius: 5px;
}
.cardPadding{
    padding: 1rem;
}
.cover{
    height: 280px;
    width: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 5px 5px 0 0;
}