@import './variables';
.header{
    background-color: black;
    a{
        color: #aaa;
        text-decoration: none;
        margin-left: 1rem;
        padding: 1rem 0;
        display: inline-block;
        font-size: 14px;
        @media screen and (min-width:$breakpoint1) {
            font-size: 18px;
        }
        font-weight: 500;
        &[class*="active"]{
            color: #fff;
        }
    }
}
.headerInnerWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}