.form{
    position: relative;
}
.input{
    border: 2px solid #bbb;
    height: 40px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 18px;
    padding: 0 1rem;
}
.button{
    color: #fff;
    background-color: #009688;
    height: 40px;
    width: 40px;
    border: 0 none;
    margin-left: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color .15s linear;
    flex: 0 0 40px;
    @media (hover: hover) {
        &:hover{
            background-color:#007268;
        }
    }
}
.searchGroup{
    display: flex;
}
.validationMessage{
    color: #f44336;
    margin: 0;
    position: absolute;
    top: 100%;
    left:0;
}
.searchIcon{
    width: 30px;
    height: 30px;
}